  html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
    pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 

body
{
  padding:0px;
  margin:0px;
}
.header
{
   background-color:#1A3333;
   color:white;
   text-align:center;
   top:0px;
   width:100%;
   padding:5px;
}
form
{
width:40%;
padding:3px;
border:1px solid #cbcbcb;
margin:5px auto;
}
.textInput
{
margin-top:2px;
height:28px;
border:1px solid #5E6E66;
font-size:16px;
padding:1px;
width:100%;
}

td
{
  text-align:right;
}
#error_msg
{
    width:50%;
    margin:5px auto;
    height:30px;
    border:1px solid #FF0000;
    background:#FFB9B8;
   color:#FF0000;
   text-align:center;
   padding-top:10px;
}
    a, a:visited {  
    outline:none;  
    color:#7d5f1e;  
    }  
 .comment {  
     padding:5px;  
     border:2px solid #7d5f1e;  
     margin-top:15px;  
     list-style:none;  
    }  
      
    .aut {  
     font-weight:bold;  
    }  
      
    .timestamp {  
     font-size:85%;  
     float:rightright;  
    }  
      
    #comment {  
     margin-top:15px;  
    }  
      
    #comment input {  
     font-size:1.2em;  
     margin:0 0 10px;  
     padding:3px;  
     display:block;  
     width:100%;  
    }  
      
    #posts {  
     display:block;  
     width:100%;  
     height:150px;  
    }  
